<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-control" content="public">
  <link rel="manifest" href="/js/manifest.json">
  <!-- This is in the manifest -->
  <!-- <meta name="theme-color" content=<%= theme %>> -->
  <title><%= title %></title>
  <meta name="description" content="description">
  <meta name="keywords" content="Keywords">
  <meta name="author" content="Martijn Reeuwijk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/animation.css" />
  <link rel="preload" href="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWwwBMpHYGzso-GSVeGT8vL1nMRVeBEpI" as="script">
  <link rel="preload" href="/js/map.js" as="script">
</head>
