<%- include('../partials/head'); -%>

<body>
  <div class="heroImage">
    <h2>New-york city</h2>
  </div>
  <main class="main">
    <h2 class="h2Main">Gun incidents in New-york city</h2>
    <div class="mainList" id="mainListIncident">

    </div>
  </main>
</body>
